

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
    width: 1440px;
    margin: ;
}

/* header */
.header{
    background-image: url('../images/Hero-bg.png');

}

/*banner styles*/
.banner{
    display: flex;
    margin: auto;
    justify-content: space-around;
    border-radius: 998px;
}

/*banner-title styles*/
.banner-title{
    display: block;
    font-weight: 800px;
    font-size: 48px;
    color: #0D1321;
    align-items: center;
    justify-content: space-around;
    width: 998px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

/*banner-description styles*/
.banner-description{
    display: block;
    font-weight: 400px;
    font-size: 16px;
    color: #0D1321;
    align-items: center;
    text-align: center;
    margin-top: 24px;
    

}

/*banner-button styles*/
.banner-button{
    display: block;
    background-color: #0D1321;
    color: #FFFFFF;
    font-weight: 600px;
    font-size: 20px;
    align-items: center;
    width: 196px;
    padding: 24px 21px;
    border-radius: 8px;
    justify-content: space-around;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    
}

/*section styles*/
.section{
    padding: 97px 80px 97px 80px;
}

/*div styles*/
.div{
    margin-top: 32px;
}

/*section-title styles*/
.section-title{
    display: flex;
    font-weight: 800px;
    font-size: 32px;
    color: #0D1321;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    width: 852px;
    margin-top: 80px;
    padding-left: 97px;
    padding-right: 97px;
}

/*section-description styles*/
.section-description{
    display: flex;
    font-weight: 400px;
    font-size: 16px;
    width: 852px;
    color: #0D1321;
    text-align: center;
    margin: auto;
    border-radius: 946px;
    padding-left: 97px;
    padding-right: 97px;
}

/*div ui li styles*/
div ul li{
    list-style: none;
    text-align: center;
    text-align: left;
}


/*div-section-title styles*/
.div-section-title{
    font-weight: 700px;
    font-size: 24px;
    width: 477px;
    color: #0D1321;
}

/*div-section-description styles*/
.div-section-description{
    font-weight: 400px;
    font-size: 16px;
    width: 468px;
    color: #0D1321;
}

/*section-button styles*/
.section-button{
width: 171px;
padding: 20px 12px;
color: #0D1321;
margin-top: 32px;

}

/*section-img styles*/
.section-img{
    width: 240px;
    height: 240px;
    background-color: #0D1321;
    color: #B7BCFF;
    color: #070159;
}      
div ul{
    display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 48px 48px 48px 48px;
}

div ul li p{
    margin-top: 16px;
}