

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100 900;
    font-style: normal;
}

/* header */
.header{
    background-image: url('../images/Hero-bg.png');

}

/*banner styles*/
.banner{
    display: flex;
    margin: auto;
    justify-content: space-around;
}

/*banner-title styles*/
.banner-title{
    display: block;
    font-weight: 800px;
    font-size: 48px;
    color: #0D1321;
    align-items: center;
    justify-content: space-around;
    width: 998px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

/*banner-description styles*/
.banner-description{
    display: block;
    font-weight: 400px;
    font-size: 16px;
    color: #0D1321;
    align-items: center;
    text-align: center;
    margin-top: 24px;
    

}

/*banner-button styles*/
.banner-button{
    display: block;
    background-color: #0D1321;
    color: #FFFFFF;
    font-weight: 600px;
    font-size: 20px;
    align-items: center;
    width: 196px;
    padding: 24px 21px;
    border-radius: 8px;
    justify-content: space-around;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    

}